<div class="card bottom">
    <div class="card-header text-center headerFooter">
        <h1>WELOME TO METRO DIAGNOSTIC CENTER</h1>
    </div>
    <div class="bg bottom">
        <form [formGroup]="loginForm" class="centerAlign">
            <div class="form-group">
                <label>User Name</label>
                <input type="text" formControlName="userName" class="form-control">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="text" formControlName="password" class="form-control">
            </div>
            <button mat-raised-button color="accent">Login</button>
        </form>
    </div>
    <div class="card-footer headerFooter">Copyright MetroLab</div>
</div>
